{% extends 'dash/base.html' %}
{% load flickr_toolkit_tags %}

{% block sub_title %}
  FlickrAPI Toolkit Example app
{% endblock sub_title %}

{% block page_heading %}
  {{ main_obj.title|flickr_content|title }}
{% endblock page_heading %}

{% block content %}

  <div style="width:100%; min-width:95%; border: 1px #666666 solid; padding: 4px;  ">
    {% for bread in main_obj.breadcrumbs %}
      &raquo;
      <a href="{% url 'project.follection.home' bread.id %}">
        [{{ bread.title|flickr_content|title  }}]
      </a>
    {% endfor %}
    &raquo; {{ main_obj.title|flickr_content|title }}
  </div>


  {% if main_obj.collection %}
    <div style="width:95%;">
      <h4>Collections</h4>
      {% for follection in main_obj.collection %}
        <div
          style="background: #aaffaa; border: 1px #666666 solid; padding: 4px; margin: 4px;  width: 175px;">
          <a href="{% url 'project.follection.home' follection.id %}">[{{ follection.title|title }}]</a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if fotosets %}
    <div style="width:95%;">
      <h4>Photosets</h4>
      {% for fset in fotosets %}
        <div
          style="background: #ffaaaa; border: 1px #666666 solid; padding: 4px; margin: 4px; width: 175px;">
          <a href="{% url 'project.fotoset.home' fset.parent.id fset.id %}">[{{ fset.title|title }}]</a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if fotos %}
    <div style="width:95%;">
      <h4>Photos</h4>
      {% for foto in fotos %}
        <div
          style="border: 1px #666666 solid; padding: 4px; margin: 4px; float: left; width: 175px;">
          <img src="{{ foto|flickr_photo_url:'q' }}" title="{{ foto.title|title }}">
          <br/>
          {{ foto.title|title }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}
