{% load staticfiles %}
<html>

  <head>
    <title>{% block sub_title %}{% endblock sub_title %}</title>
  </head>

  <body>

    <h1>{% block page_heading %}{% endblock page_heading %}</h1>

    {% block content %}

    {% endblock content %}

  </body>

</html>
